<nav class="navbar navbar navbar-expand-lg navbar-light mb-4" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Test Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="/characters">Personajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Profesores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Estudiantes</a>
            </li>
        </ul>
    </div>
</nav>