<div class="text-center mb-4">
    <h4>{{ title }}</h4>
    <hr>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">name</th>
            <th scope="col">patronus</th>
            <th scope="col">age</th>
            <th scope="col">image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers">
            <th>{{ teacher.name }}</th>
            <td>{{ teacher.patronus }}</td>
            <td>{{ teacher.dateOfBirth }}</td>
            <td><img class="img-thumbnail" style="width:70px" src="{{ teacher.image }}" alt=""></td>
        </tr>
    </tbody>
</table>